:root {
  --white-color: #fff;
  --black-color: #000;

  --main-bg-color: #f7f7f7;

  --main-font: "Oswald", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --heading-font: "Poppins", "Times New Roman", Times, serif;
  --sub-heading-font: "Oooh Baby", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  padding: 1rem;
  color: var(--black-color);
  background-color: var(--main-bg-color);
  font-family: var(--main-font);
}

.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country {
  background-color: var(--white-color);
  font-size: 1.8rem;
  border-radius: 0.7rem;
  margin: 0 3rem 5rem;
}

.country__img {
  width: 35rem;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data {
  padding: 1rem 2rem;
}

.country__name {
  font-family: var(--heading-font);
  font-size: 3rem;
}

.country__region {
  margin-bottom: 1.7rem;
  font-family: var(--sub-heading-font);
}

.country__info {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  font-size: 2rem;
}

.country__info span {
  margin-right: 1rem;
  font-size: 2.5rem;
}
